*
!LICENSE
!configure.in
!Makefile.in
!aclocal.m4
!misc
!tests
!src
src/Objects/*
src/Deps/*
src/Plugins/*/moc_*.cpp
!packages
!plugins
!TeXmacs/doc/
!TeXmacs/examples/
!TeXmacs/fonts/
!TeXmacs/include/
!TeXmacs/langs/
!TeXmacs/lib/
!TeXmacs/misc/
!TeXmacs/packages/
!TeXmacs/progs/
!TeXmacs/styles/
!TeXmacs/texts/


.git
.cache
