# binary files
*.so
*.[oa]
*.exe
*.pyc
bin/
build
.kdev4
*.kdev4
*.py[cod]
*$py.class
__pycache__/

# editor files
*.sln
.idea
.vscode

# Mac OS
.DS_Store
*/.DS_Store

# temp files
*~
*.log
SVNREV
Testing
texmacs.1
tests/gtest
cmake-build-debug
CMakeLists.txt.user
misc/benchmark/gbench

TeXmacs/progs/ice-9
