# binary files
*.so
*.[oa]
*.exe
*.pyc
bin/
build
.kdev4
*.kdev4
*.py[cod]
*$py.class
__pycache__/
.cache/
.ccls-cache/

# editor files
*.sln
.idea
.vscode

# Mac OS
.DS_Store
*/.DS_Store

# temp files
*~
*.log
SVNREV
Testing
texmacs.1
tests/gtest
cmake-build-debug
CMakeLists.txt.user
misc/benchmark/gbench

TeXmacs/progs/ice-9
src/Plugins/Qt/moc_*.cpp
src/Deps
src/Objects
TeXmacs/plugins/
src/System/config.h
src/System/tm_configure.hpp
misc/man/texmacs.1
misc/admin/admin.makefile
misc/scripts/texmacs
misc/scripts/fig2ps
misc/doxygen/Doxyfile
misc/vscode/c_cpp_properties.json
misc/autotroll/test.sh
cmake/CreateBundle.sh
cmake/CompleteBundle.cmake
TeXmacs/examples/plugins/dynlink/Makefile
packages/macos/Info-Xcode.plist
packages/macos/Base.xcconfig
packages/macos/Info.plist
packages/debian/control
packages/debian/changelog
packages/mandriva/TeXmacs.spec
packages/centos/TeXmacs.spec
packages/fedora/TeXmacs.spec
packages/windows/resource.rc
packages/windows/TeXmacs.iss
packages/redhat/TeXmacs.spec
Makefile
src/makefile
packages/macos/TeXmacs.xcodeproj/project.xcworkspace
packages/macos/TeXmacs.xcodeproj/xcuserdata
config.status
