[Desktop Entry]
Name=GNU TeXmacs
Comment=A structured wysiwyg scientific text editor
BinaryPattern=texmacs
Protocols=
MimeType=text/texmacs;text/english;text/plain;text/x-tex;
Exec=texmacs %f
Icon=TeXmacs.xpm
TerminalOptions=
Path=
Type=Application
Terminal=0
MapNotify=false
