Source: texmacs
Section: editors
Priority: optional
Maintainer: Daouda Niang DIATTA <dndiatta@lix.polytechnique.fr>
Build-Depends: debhelper (>= 7.0.50~), cdbs (>= 0.4), dpatch, libqt4-dev, guile-1.8-dev [!ia64], libxt-dev, libx11-dev, x11proto-core-dev, libltdl-dev | libltdl7-dev, libfreetype6-dev, autotools-dev, r-base-core (>= 2.0), libimlib2-dev, netpbm, libjpeg-progs, libtiff-tools, ispell, librsvg2-bin, xfig, imagemagick
Standards-Version: 3.9.1
Homepage: http://www.texmacs.org

Package: texmacs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-apps, x11-session-utils, x11-utils, ghostscript-x, groff, mlocate | slocate | locate | findutils (<< 4.2.31-2)
Description: WYSIWYG mathematical text editor using TeX fonts
 GNU TeXmacs is a free scientific text editor, which was both inspired
 by TeX and GNU Emacs.

