#mainToolBar, #modeToolBar, #focusToolBar {
    qproperty-toolbarMargin: 9;
}

#mainToolBar {
    qproperty-iconWidth: 26;
    qproperty-iconHeight: 32;
}

#modeToolBar {
    qproperty-iconWidth: 21;
    qproperty-iconHeight: 24;

}

#focusToolBar {
    qproperty-iconWidth: 16;
    qproperty-iconHeight: 20;
}

/* status bar */
QStatusBar {
    height: 28px;
}

QMainWindow::separator {
    height: 20px;
    width: 20px;
}