
/****************************************************************************
* General
****************************************************************************/

QWidget {
    font-size: 14px;
}

QAbstractScrollArea {
    background: #202020;
}

QLineEdit {
    background: #606060;
}

QToolTip {
    font-size: 14px;
    background: #ffe8c0;
    color: #806020;
    padding: 2px;
}

/****************************************************************************
* Toolbars
****************************************************************************/

QMenuBar {
    background: #2C2C2C;
}

QMenuBar::item {
    padding: 4px 10px;
    background: #2C2C2C;
}

QMenuBar::item:selected {
    background: #2C6080;
}

QToolBar {
    background: #2C2C2C;
    border-bottom: 1px solid #505050;
}

QToolBar#modeToolBar {
    background: #363636;
}

QToolBar#focusToolBar {
    background: #404040;
}

QToolBar::separator {
    background: rgba(128,128,128,50%);
    width: 0px;
    margin: 4px 8px;
}

QStatusBar {
    background: #2C2C2C;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

/****************************************************************************
* Menus
****************************************************************************/

QMenu {
    background: #2C2C2C;
}

QMenu::item {
    background: #2C2C2C;
}

QMenu::item * {
    background: #2C2C2C; /* does not seem to do much */
    margin: 3px;
}

QMenu::item * QToolTip {
    background: #ffe8c0;
}

QMenu::item:disabled {
    color: #808080;
}

QMenu::item:selected {
    background: #2C6080;
}

QMenu::right-arrow {
    border-image: url($TEXMACS_PATH/misc/pixmaps/modern/16x16/focus/tm_search_next_x2.png) 6 4 6 8;
}

/****************************************************************************
* Lists
****************************************************************************/

QListView {
    background: #606060;
}

QListView QAbstractScrollArea {
    background: #606060;
}

QListView::item:hover {
    background: #404040;
}

QListView::item:selected {
    background: #2C6080;
}

QComboBox {
    background: #606060;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px;
    border-radius: 5px;
}

QComboBox::drop-down {
    background: #606060;
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

QComboBox::down-arrow {
    border-image: url($TEXMACS_PATH/misc/pixmaps/modern/16x16/focus/tm_similar_next_x2.png) 0 0 0 0 stretch stretch;
}

QComboBox QAbstractItemView {
    background: #404040;
}

/****************************************************************************
* Tabs
****************************************************************************/

QTabBar::tab {
    background: #808080;
    margin-top: 2px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #A0A0A0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QTabBar::tab::selected {
    background: #3C3C3C;
    margin-top: 0px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #A0A0A0;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/****************************************************************************
* Buttons
****************************************************************************/

QPushButton {
    background: #707070;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #A0A0A0;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    border-radius: 5px;
}

QPushButton:pressed {
    background: #303030;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #606060;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-radius: 5px;
}

QToolButton {
    background: none;
    padding-left: 0px;
    padding-right: 0px;
}

QToolButton:hover {
    background: none;
    /* FIXME: bug when using a color */
}

QToolButton:pressed {
    background: #808080;
    border: 0px;
    border-radius: 3px;
}

QToolButton::menu-indicator {
    border: none;
    background: none;
    image: none;
}
