
/*
xQWidget {
    background: #404040;
    color: #e0e0e0;
}

QToolBar#mainToolBar xQWidget, QStatusBar xQWidget {
    background: #2C2C2C;
}

QToolBar#modeToolBarx QWidget {
    background: #363636;
}

QToolBar#focusToolbar xQWidget {
    background: #404040;
}
*/

QWidget {
    font-size: 14px;
}

QPushButton {
    background: #707070;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #A0A0A0;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    border-radius: 5px;
}

QPushButton:pressed {
    background: #303030;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #606060;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-radius: 5px;
}

/*
QToolButton {
    background: red;
    color: green;
}

QToolButton::menu-button {
    image: url($TEXMACS_PATH/misc/pixmaps/modern/16x16/focus/tm_similar_previous.png);
}
*/

QMenu::right-arrow {
    border-image: url($TEXMACS_PATH/misc/pixmaps/modern/16x16/focus/tm_search_next_x2.png) 6 4 6 8;
}

QTabBar::tab {
    background: #808080;
    margin-top: 2px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #A0A0A0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QTabBar::tab::selected {
    background: #3C3C3C;
    margin-top: 0px;
    padding: 3px;
    border: 1px solid #A0A0A0;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QMenu {
    background: #2C2C2C;
}

QLineEdit {
    background: #606060;
}

QStatusBar {
    background: #2C2C2C;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

QToolBar {
    background: #2C2C2C;
    border-bottom: 1px solid #505050;
}

QToolBar#modeToolBar {
    background: #363636;
}

QToolBar#focusToolBar {
    background: #404040;
}

QListView {
    background: #606060;
}

QToolTip {
    font-size: 14px;
    background: #ffe8c0;
    color: #806020;
    padding: 2px;
}


QListView {
    background: #606060;
}

QComboBox {
    background: #606060;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px;
    border-radius: 5px;
}

QComboBox::drop-down {
    background: #606060;
    border: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

QComboBox::down-arrow {
    border-image: url($TEXMACS_PATH/misc/pixmaps/modern/16x16/focus/tm_similar_next_x2.png) 0 0 0 0 stretch stretch;
}

QAbstractScrollArea {
    background: #202020;
}

QListView QAbstractScrollArea, QComboBox QAbstractScrollArea {
    background: #606060;
}
